.container {
    width: 1280px;
    margin: 0 auto;
}

.page-header-menu {
    text-align: center;
}

.page-header-menu-link {
    color: #ff0000;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.page-header-menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 72px;
}

.main-image {
    text-align: center;
    margin-top: 25.5px;
}

.text-content {
    padding: 0px 67px 82px;
}

.main-title {
    margin-top: 48px;
    margin-bottom: 38px;
}

p:first-child {
    margin-bottom: 28px;
}

.main-title-text {
    color: black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}

.main-text {
    color: black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.main-button {
    width: 191px;
    height: 51px;
    background-color: #ff0000;
    border-radius: 4px;
    margin-top: 80px;
    margin-left: 500px;
}

.main-button-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 18px 17px;
}

.page-footer {
    padding-right: 105px;
    padding-bottom: 29px;
}

.page-footer-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
}